* {
    box-sizing: border-box;
}

html{
    height:100%;
    padding:0px;
}



.nav-pills li a{
    color:white;
  font-family: 'Play', sans-serif;
    font-size:12px;

    width:100%;
}

.nav-pills li a:hover{
    color:white;
     transition:0.2s;
}

.nav > li > a:hover{
    background-color:rgb(239, 100, 33);
   transition:0.2s;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color:seagreen;
   
}

.material-bg{
    background-image:url("../images/bg2.jpg");
   background-size:cover;
   height:auto;
}

.firstrow{
    height:auto;
   background-color:rgb(245,245,245);
    padding:10px;
}

.sub-one{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color:white;
    margin-top:20px;
}

.signout_txt a
{
    color:white;
    font-size:12px;
    font-family: 'Play', sans-serif;
   
    transition: 0.3s;
}

.signout_txt a:hover{
    color:rgb(239, 100, 33);
    cursor:pointer;
     transition: 0.3s;
     text-decoration: none;
}

.admin-txt{
color:white;
font-family: 'Play', sans-serif;
margin-top:20px;
font-size:16px;


}

.cronLink{
	color:white;
	font-size:11px;
}

.cronLink:hover{
	cursor: pointer;
	}
	
	.cronLinkuser{
	color:white;
	font-size:11px;
}

.cronLinkuser:hover{
	cursor: pointer;
	}

.log-head{
    color:grey;
font-family: 'Play', sans-serif;
   
}

.stathead{
    text-align: right;
    color: white;
    font-size:12px;
  font-family: 'Play', sans-serif;
  margin-bottom:5px;
}

.statvalue{
    color:white;
    font-size:24px;
  font-family: 'Play', sans-serif;
    text-align:right;
}

.statvalueone{
    color:white;
    font-size:24px;
    font-family: 'Play', sans-serif;
    text-align:right;
}

.staticon{
    font-size:40px;
    color:white;
    text-align:center;
}

#logoutbtn{
    font-family: 'Play', sans-serif;
    width:100%;
    background-color:rgb(250, 100, 60);
    border-color:rgb(250, 100, 60);
}

#logoutbtn:hover{
    background-color:rgb(242, 88, 34);
    border-color:rgb(242, 88, 34);
}

#logoutbtn:focus{
    outline: none;
}

#pdlist{
    list-style-type: none;
    cursor: pointer;
}

#pdlist li a{
    text-decoration:none;
    
}

#pdlist li a:hover{
  color:white;
  border-bottom:solid 1px rgb(239, 100, 33);
  
}

#pdlist > li.active > a, #pdlist > li.active > a:hover, #pdlist > li.active > a:focus{
    color:rgb(239, 100, 33);
   
}

/*font-family: 'Titillium Web', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Questrial', sans-serif;*/

.pickup_head{
    color:rgb(250, 100, 60);
font-family: 'Play', sans-serif;
padding-top:5px;
padding-bottom:5px;
padding-left:10px;
background-color:#f5f5f5;
}

#getdata{
    background-color:rgb(250, 100, 60);
    border-color:rgb(250, 100, 60);
}
#del_getdata{
    background-color:rgb(250, 100, 60);
    border-color:rgb(250, 100, 60);
}
#getdata:hover{
    background-color:rgb(242, 88, 34);
    border-color:rgb(242, 88, 34);
}

#del_getdata:hover{
    background-color:rgb(242, 88, 34);
    border-color:rgb(242, 88, 34);
}

#barChart{
	height: 250px;
	min-width: 310px;
	max-width: 800px;
	
}

#barChart .highcharts-background {
	fill: rgb(245,245,245);
	
}

#delChart{
	height: 250px;
	min-width: 310px;
	max-width: 800px;

}

#delChart .highcharts-background {
	fill: rgb(245,245,245);
	
}
th{
    text-align:none;
    width:auto;
}



.table_one{
width:100%;
border-bottom:solid 1px white;
}

.table_one  > thead > tr > th{
  font-size:12px;
    background-color:rgb(239, 100, 33);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align:center; 
    border-bottom:solid 1px white;
    color: white;
}

.table_one > thead:first-child > tr:first-child > th:nth-child(even){
  border-left:solid 1px white;
    border-right:solid 1px white;
   
  
}

/*.table_one > tbody >  tr:nth-child(even){
    background-color:#f1f1f1;
}*/
.table_one > tbody >  tr > td{
   font-size:12px;
  font-family: 'Source Sans Pro', sans-serif;
  border:solid 1px lightgray;
}

.table_one > tbody >  tr > td:nth-child(even){
    border-left:solid 1px lightgray;
    border-right:solid 1px lightgray;
    
    
}

td.details-control {
    background:url("../images/icons8-Doppelt hoch-48.png") no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url("../images/icons8-Doppelt runter-48.png") no-repeat center center;
}
/*del info table*/
.table_two{
border:solid 1px white;
}

.table_two  > thead > tr > th{
    font-size:12px;
    background-color:seagreen;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align:center; 
    border-bottom:solid 1px white;
    color: white;
}

.table_two > thead:first-child > tr:first-child > th:nth-child(even){
  border-left:solid 1px white;
    border-right:solid 1px white;
  
}

.table_two > tbody >  tr:nth-child(even){
    background-color:#f1f1f1;
}
.table_two > tbody >  tr > td{
   
    font-size:12px;
  font-family: 'Source Sans Pro', sans-serif;
  border:solid 1px lightgray;
}

/*.table_two > tbody >  tr > td:nth-child(even){
    border-left:solid 1px lightgray;
    border-right:solid 1px lightgray;
    
}*/



/*del info table end*/
.pagination > .active > a, 
.pagination > .active > span,
 .pagination > .active > a:hover,
 .pagination > .active > span:hover,
  .pagination > .active > a:focus,
   .pagination > .active > span:focus{
       background-color:orange;
       border-color:orange;
   }

   div.dataTables_wrapper div.dataTables_info{
       font-size:14px;
       color:seagreen;
       font-family: 'Questrial', sans-serif;
   }

   div.dataTables_wrapper div.dataTables_length label{
       font-size:14px;
       font-family: 'Questrial', sans-serif;
       color:grey;
   }

   div.dataTables_wrapper div.dataTables_filter label{
        font-size:14px;
       font-family: 'Questrial', sans-serif;
       color:grey;
       text-align:center;
   }
.panel_div{
margin-bottom: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /*border: 1px solid #F3F7F8;*/
    color: #222;
   
    /*box-shadow: 2px 2px 0px 0px rgba(227,228,229,0.5);
    -webkit-box-shadow: 2px 2px 0px 0px rgba(227,228,229,0.5);*/
}

.panel-heading{
   padding-right:0px;
    width:100%;
    margin:0px;
    padding-left:0px;
    padding-top:0px;
    padding-bottom:0px;
}

.panel-title{
    font-family:'Play', sans-serif;
    font-size: 16px;
   padding-top:5px;
   padding-bottom:5px;
   padding-left:10px;
    color: #555;
    text-align: left;
     background-color:#f1f1f1;
     width:100%;
    margin:0px;
}

.logged_in_users_tbl{
    width:100%;
   box-shadow: 2px 2px 0px 0px rgba(227,228,229,0.5);
    -webkit-box-shadow: 2px 2px 0px 0px rgba(227,228,229,0.5);
  
}

/*.logged_in_users_tbl > tbody{
   
   margin:0px;
}*/

 .logged_in_users_tbl > thead > tr > th
   {
       font-size:12px;
       font-family: 'Titillium Web', sans-serif;
       background-color:#1fb5ad;
     
      text-align: left;
   }

  
   #logged_in_users_table tbody tr td{
       text-align: left;
        font-family: 'Source Sans Pro', sans-serif;
       
   }

   .logPara{
        font-size:11px;
       
        color:grey;
           border-left: 1px solid #F34167;
   padding:8px;
    position: relative;
    border-bottom:solid 1px rgba(227,228,229,0.5);
    border-left-color:lightblue;
    margin-bottom:0px;
   }

   .logPara::before{
    width: 8px;
    height: 8px;
    position: absolute;
    background-color:rgb(239, 100, 33);
    border-radius:100%;
    top: 0;
    left: -5px;
    content: '';
   }


   #logDiv::-webkit-scrollbar
{
   width:5px;
    background-color: white;
}

#logDiv::-webkit-scrollbar-track {
   background-color:#f1f1f1;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#logDiv::-webkit-scrollbar-thumb{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(242,88,34); 
   
   
}


/*#logDiv::-webkit-scrollbar:horizontal
{
   width:5px;
   height:10px;
    background-color: lightgray;
}*/

/*--------pickups tab sroll--------*/
.scrolllist::-webkit-scrollbar
{
   width:5px;
    background-color: white;
}

.scrolllist::-webkit-scrollbar-track {
   background-color:#f1f1f1;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.scrolllist::-webkit-scrollbar-thumb{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(242,88,34); 
   
   
}


.scrolllist::-webkit-scrollbar:horizontal
{
   width:5px;
   height:10px;
    background-color: lightgray;
}

/*-------pickups tab scroll end----------*/

/*-------del tab scroll------------*/

.del_scrolllist::-webkit-scrollbar
{
   width:5px;
    background-color: white;
}

.del_scrolllist::-webkit-scrollbar-track {
   background-color:#f1f1f1;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.del_scrolllist::-webkit-scrollbar-thumb{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: seagreen; 
   
   
}

/*----del tab scroll end------------*/
#getdata:focus{
    outline:none;

}
.reload_btn:focus{
    outline:none;
}

#del_getdata:focus{
    outline:none;

}
.del_reload_btn:focus{
    outline:none;
}

