.theadColor {
	background-color: #6bafbd;
	color:white;
}

.ctablesTr {
	background: #0E7FC0; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#0E7FC0, #90CFF3);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#0E7FC0, #90CFF3);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#0E7FC0, #90CFF3);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#0E7FC0, #90CFF3);
	/* Standard syntax (must be last) */
	
}

.labelClass {
	color: #2A88C3;
}

/* .datatables>tbody>tr>td:hover, .datatables>tbody>tr>td:hover {
	background-color: #C39BD3 !important;
}

.datatables>tbody>tr:hover>td, .datatables>tbody>tr:hover>th {
	background-color: #EBDEF0;
}

.datatables>tbody>tr>th, .datatables>tfoot>tr>th, .datatables>thead>tr>td,
	.datatables>tbody>tr>td, .datatables>tfoot>tr>td {
	padding: 2px;
}

 */

#assetsTable>tbody>tr>td:hover, #assetsTable>tbody>tr>td:hover {
	background-color: #C39BD3 !important;
}

#assetsTable>tbody>tr:hover>td, #assetsTable>tbody>tr:hover>th {
	background-color: #EBDEF0;
}

#assetsTable>tbody>tr>th, #assetsTable>tfoot>tr>th, #assetsTable>thead>tr>td,
	#assetsTable>tbody>tr>td, #assetsTable>tfoot>tr>td {
	padding: 2px;
}

/* #assetsTableTr {
	background: #0E7FC0; For browsers that do not support gradients
	background: -webkit-linear-gradient(#0E7FC0, #90CFF3);
	For Safari 5.1 to 6.0
	background: -o-linear-gradient(#0E7FC0, #90CFF3);
	For Opera 11.1 to 12.0
	background: -moz-linear-gradient(#0E7FC0, #90CFF3);
	For Firefox 3.6 to 15
	background: linear-gradient(#0E7FC0, #90CFF3);
	Standard syntax (must be last)
} */


#devicesTableForAssignGeofence>tbody>tr>td:hover, #devicesTableForAssignGeofence>tbody>tr>td:hover {
	background-color: #C39BD3 !important;
}

#devicesTableForAssignGeofence>tbody>tr:hover>td, #devicesTableForAssignGeofence>tbody>tr:hover>th {
	background-color: #EBDEF0;
}

#devicesTableForAssignGeofence>tbody>tr>th, #devicesTableForAssignGeofence>tfoot>tr>th, #devicesTableForAssignGeofence>thead>tr>td,
	#devicesTableForAssignGeofence>tbody>tr>td, #devicesTableForAssignGeofence>tfoot>tr>td {
	padding: 2px;
}


#geofenceUpdatesTable>tbody>tr>td:hover, #geofenceUpdatesTable>tbody>tr>td:hover {
	background-color: #C39BD3 !important;
}

#geofenceUpdatesTable>tbody>tr:hover>td, #geofenceUpdatesTable>tbody>tr:hover>th {
	background-color: #EBDEF0;
}

#geofenceUpdatesTable>tbody>tr>th, #geofenceUpdatesTable>tfoot>tr>th, #geofenceUpdatesTable>thead>tr>td,
	#geofenceUpdatesTable>tbody>tr>td, #geofenceUpdatesTable>tfoot>tr>td {
	padding: 2px;
}